<div class="card mb-3" style="width: 400px;">
  <img class="card-img-top" src="{{ defaultUserImg }}" alt="Card image cap" style="height: auto;">
  <div class="card-body" *ngIf="user">
    <h5 class="card-title">{{ user.username }}</h5>
    <p class="card-text">{{ user.email }}</p>
    <p class="card-text">{{ user.mobile }}</p>
    <p class="card-text">{{ user.address }}</p>
    <p class="card-text">{{ user.companies }}</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <button class="btn btn-primary" (click)="onEditUser(user.id)">Edit user</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteUser(user.id)">Delete</button>
  </div>
</div>


